<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    width="100%"
    height="100%"
  >
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M18 6.31a1 1 0 0 0 1-1v-3.4a1 1 0 0 0-2 0v3.4a1 1 0 0 0 1 1z"
      class="clr-i-outline clr-i-outline-path-1"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M18 29.69a1 1 0 0 0-1 1v3.4a1 1 0 0 0 2 0v-3.4a1 1 0 0 0-1-1z"
      class="clr-i-outline clr-i-outline-path-2"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M8.32 9.74A1 1 0 0 0 9 10a1 1 0 0 0 .71-.29 1 1 0 0 0 0-1.42L7.33 5.92a1 1 0 0 0-1.41 1.41z"
      class="clr-i-outline clr-i-outline-path-3"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M27.68 26.26a1 1 0 1 0-1.42 1.42l2.41 2.4a1 1 0 0 0 .71.3 1 1 0 0 0 .7-.3 1 1 0 0 0 0-1.41z"
      class="clr-i-outline clr-i-outline-path-4"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M6.31 18a1 1 0 0 0-1-1h-3.4a1 1 0 0 0 0 2h3.4a1 1 0 0 0 1-1z"
      class="clr-i-outline clr-i-outline-path-5"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M34.09 17h-3.4a1 1 0 1 0 0 2h3.4a1 1 0 0 0 0-2z"
      class="clr-i-outline clr-i-outline-path-6"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="m8.32 26.26-2.4 2.41a1 1 0 0 0 .7 1.71 1 1 0 0 0 .71-.3l2.41-2.4a1 1 0 1 0-1.42-1.42z"
      class="clr-i-outline clr-i-outline-path-7"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M27 10a1 1 0 0 0 .71-.29l2.4-2.41a1 1 0 0 0 0-1.41 1 1 0 0 0-1.41 0l-2.41 2.4a1 1 0 0 0 0 1.42A1 1 0 0 0 27 10z"
      class="clr-i-outline clr-i-outline-path-8"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M18.13 7.75a10.13 10.13 0 1 0 10 10.13 10.08 10.08 0 0 0-10-10.13zm0 18.25a8.13 8.13 0 1 1 8-8.12 8.08 8.08 0 0 1-8 8.12z"
      class="clr-i-outline clr-i-outline-path-9"
    ></path>
    <path
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      d="M0 0h36v36H0z"
    ></path>
  </svg>
</template>
