<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 456 512"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    width="100%"
    height="100%"
  >
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="m64 388 132-132L64 124l32-32 132 132L360 92l32 32-132 132 132 132-32 32-132-132L96 420l-32-32z"
    ></path>
  </svg>
</template>
