<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    width="100%"
    height="100%"
  >
    <path
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      d="M14.802 6.445 8.696 12.55c-.405.358-.656.86-.696 1.318v2.135l2.064.002c.534-.038 1.031-.287 1.43-.743L17.558 9.2l-2.755-2.755zm1.415-1.414 2.754 2.755.894-.894a.462.462 0 0 0 0-.653L17.76 4.135a.456.456 0 0 0-.647 0l-.897.896zM22 13v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h7v2H4v16h16v-7h2zM17.437 2c.655 0 1.283.261 1.741.723l2.101 2.101a2.462 2.462 0 0 1 0 3.482l-8.321 8.318c-.699.805-1.69 1.3-2.823 1.378H6v-1l.003-3.215c.085-1.054.576-2.035 1.323-2.694l8.37-8.368A2.456 2.456 0 0 1 17.436 2z"
    ></path>
  </svg>
</template>
