<script setup lang="ts">
import {onBeforeUnmount, onMounted, ref, onBeforeMount, computed} from 'vue';
import SleepIcon from '../src/components/SleepIcon.vue';
import AwakeIcon from '../src/components/AwakeIcon.vue';
import EditIcon from '../src/components/EditIcon.vue';
import DeleteIcon from '../src/components/DeleteIcon.vue';
import CancelIcon from '../src/components/CancelIcon.vue';
import SaveIcon from '../src/components/SaveIcon.vue';
import type {ITrackedTime, ICurrentTrackedTime} from './trackedTime';
import {
  getTrackedTimesFromDb,
  initDb,
  addTrackedTimeToDb,
  deleteAllTrackedTimesFromDb,
  deleteTrackedTimeByIdFromDb
} from './database';

interface Time {
  hours: number;
  minutes: number;
  seconds: number;
}

const currentTimer = ref();
const sleepTimer = ref();
const wakeUpTimer = ref();

const trackedTimeList = ref<ITrackedTime[]>([]);

const isTabVisible = ref(true);
const tabHiddenTime = ref<number | null>(null);

onBeforeMount(() => {
  window.addEventListener('beforeinstallprompt', e => {});
});

onMounted(async () => {
  await initDb();
  trackedTimeList.value = await getTrackedTimesFromDb().then(data => {
    calculateTotalTimeForToday(true, data as Array<ITrackedTime>);
    calculateTotalTimeForToday(false, data as Array<ITrackedTime>);
    return data as Array<ITrackedTime>;
  });

  document.addEventListener('visibilitychange', handleVisibilityChange);
});

function calculateTotalTimeForToday(
  calculateSleepTime: boolean,
  trackedTimes: Array<ITrackedTime>
) {
  let time: Time = {
    hours: 0,
    minutes: 0,
    seconds: 0
  };
  trackedTimes
    .filter(tt => tt.isSleepTime === calculateSleepTime)
    .forEach(tt => {
      time.seconds += tt.seconds;
      time.minutes += tt.minutes;
      time.hours += tt.hours;
    });
  const validTime = getValidTimeValues(time.seconds, time.minutes, time.hours);

  if (calculateSleepTime) {
    sleepTimeForToday.value.seconds = validTime.seconds;
    sleepTimeForToday.value.minutes = validTime.minutes;
    sleepTimeForToday.value.hours = validTime.hours;
  } else {
    wakeUpTimeForToday.value.seconds = validTime.seconds;
    wakeUpTimeForToday.value.minutes = validTime.minutes;
    wakeUpTimeForToday.value.hours = validTime.hours;
  }
}

onBeforeUnmount(() => {
  document.removeEventListener('visibilitychange', handleVisibilityChange);
});

const currentTrackedTime = ref<ICurrentTrackedTime>({
  hours: 0,
  minutes: 0,
  seconds: 0,
  isSleepTime: undefined,
  startTime: undefined,
  endTime: undefined
});

const wakeUpTimeForToday = ref({
  hours: 0,
  minutes: 0,
  seconds: 0
});

const sleepTimeForToday = ref({
  hours: 0,
  minutes: 0,
  seconds: 0
});

const isEditable = ref(false);

function handleVisibilityChange() {
  if (currentTrackedTime.value.startTime) {
    if (document.hidden) {
      // Tab is hidden, store the timestamp
      tabHiddenTime.value = Date.now();
    } else {
      // Tab is visible, calculate the elapsed time
      if (tabHiddenTime.value !== null) {
        const elapsedMillis = Date.now() - tabHiddenTime.value;
        let elapsedSeconds = Math.floor(elapsedMillis / 1000);

        const validTime = getValidTimeValues(
          currentTrackedTime.value.seconds + elapsedSeconds,
          currentTrackedTime.value.minutes,
          currentTrackedTime.value.hours
        );

        currentTrackedTime.value.seconds = validTime.seconds;
        currentTrackedTime.value.minutes = validTime.minutes;
        currentTrackedTime.value.hours = validTime.hours;

        addElapsedSecondsToSleepOrWakeUpTime(elapsedSeconds);

        // Reset the hidden time
        tabHiddenTime.value = null;
      }
    }
  }
  // Update the visibility state
  isTabVisible.value = !document.hidden;
}

function addElapsedSecondsToSleepOrWakeUpTime(elapsedSeconds: number) {
  if (currentTrackedTime.value.isSleepTime) {
    const validTime = getValidTimeValues(
      sleepTimeForToday.value.seconds + elapsedSeconds,
      sleepTimeForToday.value.minutes,
      sleepTimeForToday.value.hours
    );

    sleepTimeForToday.value.seconds = validTime.seconds;
    sleepTimeForToday.value.minutes = validTime.minutes;
    sleepTimeForToday.value.hours = validTime.hours;
  } else {
    const validTime = getValidTimeValues(
      wakeUpTimeForToday.value.seconds + elapsedSeconds,
      wakeUpTimeForToday.value.minutes,
      wakeUpTimeForToday.value.hours
    );

    wakeUpTimeForToday.value.seconds = validTime.seconds;
    wakeUpTimeForToday.value.minutes = validTime.minutes;
    wakeUpTimeForToday.value.hours = validTime.hours;
  }
}

function getValidTimeValues(seconds: number, minutes: number, hours: number) {
  if (seconds >= 60) {
    minutes += Math.floor(seconds / 60);
    seconds = seconds % 60;
    if (minutes >= 60) {
      hours += Math.floor(minutes / 60);
      minutes = minutes % 60;
    }
  }

  return {seconds, minutes, hours} as Time;
}

function startCurrentTimer() {
  if (currentTrackedTime.value.seconds === 59) {
    if (currentTrackedTime.value.minutes === 59) {
      currentTrackedTime.value.hours++;
      currentTrackedTime.value.minutes = 0;
      currentTrackedTime.value.seconds = 0;
    } else {
      currentTrackedTime.value.minutes++;
      currentTrackedTime.value.seconds = 0;
    }
  } else {
    currentTrackedTime.value.seconds++;
  }
}

async function startSleeping() {
  clearInterval(currentTimer.value);
  clearInterval(wakeUpTimer.value);

  if (currentTrackedTime.value.startTime) {
    currentTrackedTime.value.isSleepTime = false;
    setCurrentEndTime();
    await addCurrentTrackedTime();
  }
  setCurrentStartTime();
  currentTrackedTime.value.isSleepTime = true;

  sleepTimer.value = setInterval(startSleepTimer, 1000);
  currentTimer.value = setInterval(startCurrentTimer, 1000);
}

async function stopSleeping() {
  clearInterval(currentTimer.value);
  clearInterval(sleepTimer.value);

  if (currentTrackedTime.value.startTime) {
    currentTrackedTime.value.isSleepTime = true;
    setCurrentEndTime();
    await addCurrentTrackedTime();
  }

  currentTrackedTime.value.isSleepTime = false;

  setCurrentStartTime();

  wakeUpTimer.value = setInterval(startWakeUpTimer, 1000);
  currentTimer.value = setInterval(startCurrentTimer, 1000);
}

async function addCurrentTrackedTime() {
  await addTrackedTimeToDb({...currentTrackedTime.value}).then((result: number) => {
    trackedTimeList.value?.unshift({
      id: result,
      ...currentTrackedTime.value
    });

    currentTrackedTime.value.seconds = 0;
    currentTrackedTime.value.minutes = 0;
    currentTrackedTime.value.hours = 0;
  });
}

function setCurrentStartTime() {
  currentTrackedTime.value.startTime = new Date().toLocaleTimeString().substring(0, 5);
}

function setCurrentEndTime() {
  currentTrackedTime.value.endTime = new Date().toLocaleTimeString().substring(0, 5);
}

function startSleepTimer() {
  if (sleepTimeForToday.value.seconds === 59) {
    if (sleepTimeForToday.value.minutes === 59) {
      sleepTimeForToday.value.hours++;
      sleepTimeForToday.value.minutes = 0;
      sleepTimeForToday.value.seconds = 0;
    } else {
      sleepTimeForToday.value.minutes++;
      sleepTimeForToday.value.seconds = 0;
    }
  } else {
    sleepTimeForToday.value.seconds++;
  }
}

function startWakeUpTimer() {
  if (wakeUpTimeForToday.value.seconds === 59) {
    if (wakeUpTimeForToday.value.minutes === 59) {
      wakeUpTimeForToday.value.hours++;
      wakeUpTimeForToday.value.minutes = 0;
      wakeUpTimeForToday.value.seconds = 0;
    } else {
      wakeUpTimeForToday.value.minutes++;
      wakeUpTimeForToday.value.seconds = 0;
    }
  } else {
    wakeUpTimeForToday.value.seconds++;
  }
}

async function deleteAllData() {
  await deleteAllTrackedTimesFromDb().then(() => (trackedTimeList.value = []));
}

async function deleteTrackedTimeById(id: number | null) {
  var result = await deleteTrackedTimeByIdFromDb(id);

  if (result) {
    var objectToDelete = trackedTimeList.value.find(tt => tt.id === id) as ITrackedTime;
    var index = trackedTimeList.value.indexOf(objectToDelete);
    trackedTimeList.value.splice(index, 1);
  }
}
</script>

<template>
  <header class="header flex-column-centered">
    <h2 class="app-title">Baby Sleep Tracker</h2>
  </header>
  <main class="flex-column-centered">
    <div>
      <button class="pointer" @click="deleteAllData">Alle Daten löschen</button>
    </div>

    <div class="max-width-30rem">
      <div class="mt-lg text-center">
        <button
          :disabled="currentTrackedTime.isSleepTime === true"
          class="btn-lg me-sm"
          @click="startSleeping"
        >
          Eingeschlafen
        </button>
        <button
          :disabled="currentTrackedTime.isSleepTime === false"
          class="btn-lg"
          @click="stopSleeping"
        >
          Aufgewacht
        </button>
      </div>

      <div class="mt-sm text-center">
        <h3 class="flex-column-centered">
          <div>
            <span v-if="currentTrackedTime.isSleepTime">Schläft seit </span>
            <span v-else="!currentTrackedTime.isSleepTime">Wach seit </span>
            <span>{{ currentTrackedTime.startTime }} Uhr </span>
          </div>
          <span class="mt-sm"
            >{{
              currentTrackedTime.hours < 10
                ? `0${currentTrackedTime.hours}`
                : currentTrackedTime.hours
            }}:{{
              currentTrackedTime.minutes < 10
                ? `0${currentTrackedTime.minutes}`
                : currentTrackedTime.minutes
            }}:{{
              currentTrackedTime.seconds < 10
                ? `0${currentTrackedTime.seconds}`
                : currentTrackedTime.seconds
            }}</span
          >
        </h3>
      </div>
      <div class="mt-md bold text-start">
        <div class="flex">
          <span class="me-sm"><AwakeIcon class="icon" /></span>
          <span class="me-sm width-9_5rem">Wachzeit heute:</span>
          <span
            >{{
              wakeUpTimeForToday.hours === 0
                ? ''
                : wakeUpTimeForToday.hours > 1
                ? `${wakeUpTimeForToday.hours} Stunden`
                : `${wakeUpTimeForToday.hours} Stunde`
            }}
            {{
              wakeUpTimeForToday.minutes === 0
                ? ''
                : wakeUpTimeForToday.minutes > 1
                ? `${wakeUpTimeForToday.minutes} Minuten`
                : `${wakeUpTimeForToday.minutes} Minute`
            }}</span
          >
        </div>
      </div>
      <div class="mt-sm bold text-start">
        <div class="flex">
          <span class="me-sm"><SleepIcon class="icon" /></span>
          <span class="me-sm width-9_5rem">Schlafzeit heute:</span>
          <span
            >{{
              sleepTimeForToday.hours === 0
                ? ''
                : sleepTimeForToday.hours > 1
                ? `${sleepTimeForToday.hours} Stunden`
                : `${sleepTimeForToday.hours} Stunde`
            }}
            {{
              sleepTimeForToday.minutes === 0
                ? ''
                : sleepTimeForToday.minutes > 1
                ? `${sleepTimeForToday.minutes} Minuten`
                : `${sleepTimeForToday.minutes} Minute`
            }}
          </span>
        </div>
      </div>
      <div class="mt-md text-center flex-column-centered">
        <div><h4>Schlaf und Wachzeiten</h4></div>
        <div class="flex">
          <button class="me-sm flex flex-align-center pointer">
            <span class="me-sm"><SleepIcon class="icon" /> </span>
            <span>Schlafzeit hinzufügen</span>
          </button>
          <button class="flex flex flex-align-center pointer">
            <span class="me-sm"><AwakeIcon class="icon" /> </span>
            <span>Wachzeit hinzufügen</span>
          </button>
        </div>
        <div class="card flex flex-align-center mt-sm" v-for="trackedTime in trackedTimeList">
          <div>
            <span v-if="trackedTime.isSleepTime" class="me-sm">
              <SleepIcon class="icon" />
            </span>
            <span v-else="trackedTime.isSleepTime" class="me-sm">
              <AwakeIcon class="icon" />
            </span>
          </div>
          <div class="w-100">
            <div>
              <span class="width-5rem me-sm text-start">
                {{ trackedTime.isSleepTime ? 'Schlafzeit' : 'Wachzeit' }}
              </span>
            </div>
            <div v-if="!trackedTime.isEditable">
              <span class="bold me-sm">
                {{
                  trackedTime.hours === 0
                    ? ''
                    : trackedTime.hours > 1
                    ? `${trackedTime.hours} Stunden`
                    : `${trackedTime.hours} Stunde`
                }}
                {{
                  trackedTime.minutes === 0
                    ? ''
                    : trackedTime.minutes > 1
                    ? `${trackedTime.minutes} Minuten`
                    : `${trackedTime.minutes} Minute`
                }}
              </span>
            </div>
            <div class="flex flex-space-evenly" v-else>
              <div>
                <label for="hours"
                  >Hours
                  <input
                    class="width-6ch"
                    type="number"
                    id="hours"
                    name="hours"
                    v-model="trackedTime.hours"
                    min="0"
                    max="23"
                  />
                </label>
              </div>
              <div>
                <label for="minutes"
                  >Minutes
                  <input
                    class="width-6ch"
                    type="number"
                    id="minutes"
                    name="minutes"
                    v-model="trackedTime.minutes"
                    min="0"
                    max="59"
                  />
                </label>
              </div>
            </div>
            <div>
              <span> von {{ trackedTime.startTime }} Uhr bis {{ trackedTime.endTime }} Uhr </span>
            </div>
          </div>
          <div>
            <button class="mb-sm pointer" v-if="!trackedTime.isEditable">
              <EditIcon class="icon" @click="trackedTime.isEditable = true" />
            </button>
            <button class="mb-sm pointer btn-save" v-else>
              <SaveIcon class="icon" />
            </button>
            <button
              class="pointer"
              @click="deleteTrackedTimeById(trackedTime.id)"
              v-if="!trackedTime.isEditable"
            >
              <DeleteIcon class="icon" v-if="!trackedTime.isEditable" />
            </button>
            <button class="mb-sm pointer btn-cancel" @click="trackedTime.isEditable = false" v-else>
              <CancelIcon class="icon" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
header,
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-title {
  margin-top: 0;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #b9e3fa;
}

button:disabled,
button[disabled] {
  cursor: not-allowed !important;
}

button {
  border: 1px solid darkgray;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

.btn-cancel {
  background-color: #e50e3e;
  border-color: #e50e3e;
}

.btn-lg {
  font-size: 1.25rem;
  font-weight: bold;
  height: 2.5rem;
  cursor: pointer;
}

.btn-save {
  background-color: #1ac023;
  border-color: #1ac023;
}

.card {
  border: 2px solid #b9e3fa;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.flex-column-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-align-center {
  align-items: center;
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}

.max-width-30rem {
  width: 100%;
  max-width: 30rem;
}

.mb-sm {
  margin-bottom: 0.75rem;
}

.me-sm {
  margin-right: 0.75rem;
}

.mt-sm {
  margin-top: 0.75rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 5rem;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.width-6ch {
  width: 6ch;
}

.width-5rem {
  width: 5rem;
}

.width-9_5rem {
  width: 9.5rem;
}

.w-100 {
  width: 100%;
}
</style>
